<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.css">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js" ></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  </head>
  <body>
    <!-- <p>Welcome to <%= title %></p> -->
    <div id="main-border">
	    <div id="top-container">
		    <h5 id="trademark">MoonshineTM, 2017
		    	
		    </h5>
		    <a id="contact" href="#">CONTACT</a>

		    <div id="statBox">
		    	<h5>Last: <span id="time"></span></h5>
		    	<h3 id="return-wrapper">Total Returns: <span id="return"></span> %</h3>
		    </div>
		    <h1 id="name" class="logo">@MOONSHINE</h1>
		    <img src="/images/rounded-robot-design-with-spirals-arms.png">
		    <div id="robot">
			    Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
			</div>
    	</div>

    	<div id="chart"></div>
    </div>
    <script type="text/javascript" src="/javascripts/moonshine-dash.js"></script>
  </body>
</html>
